

.drop_section {
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.drop {
    width: 50%;
    height: auto;
    background-color: rgb(201, 194, 185);
    color: #1b0404;
    font-size: 10em; 
    font-family: montserrat;
    text-transform: uppercase;
    text-align: center;
    border: 5px solid rgb(201, 194, 185);
    box-sizing: border-box;
    display: inline-block;
}
.drop img {
    width: 400px;
    height: 500px;
    margin: auto;
}
.over {
    border: 5px solid orange;
    box-sizing: border-box;
    color: #d8bdbd;
    background-color: rgb(240, 236, 232);
  }

  .drag_image {
    width: 50%;
    height: auto;
    border: 5px solid var(--C);
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
  }
  .drag_image img {
    margin: auto;
    display: inline-block;
    width: 80%;
    height: 80%;
  }

  .click_to_fit {
    color: #1b0404;
    background-color: rgb(201, 194, 185);
    font-size: 3em; 
    font-family: montserrat;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    margin: 15%;
    visibility: var(--N);
  }

