
.drop_section {
	display: flex;
	height: auto;
	max-height: 300px;
	align-content: center;
	justify-content: space-between;
}
.drop {
	position: relative;
	width: 33.33%;
	height: auto;
	min-height: 300px;
	border: 5px solid #ffffff;
	box-sizing: border-box;
	display: inline-block;
	background-image: url("./cloud.png");
	background-position-x: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: var(--bgPosDrop);
}

.drop img {
	margin: 0 25%;
	display: inline-block;
	width: auto;
	height: auto;
	max-height: 300px;
}

.banner {
	color: #ffffff;
	background-color: rgb(228, 137, 19);
	font-family: montserrat;
	text-transform: uppercase;
	position: absolute;
	visibility: var(--bannerVis);
	height: auto;
	bottom: 80%;
}

.over {
	border: 5px solid orange;
	box-sizing: border-box;
}

  .choose_tattoo {
	height: auto;
	color: #1b0404;
	font-size: 1em; 
	font-family: montserrat;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
}


.drag_image {
	position: relative;
	width: 33.33%;
	height: auto;
	min-height: 300px;
	border: 5px solid #ffffff;
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
	background-image: url("./fitting.jpg");
	background-position-x: 50px;
	background-repeat: no-repeat;
	background-size: contain;
}

