.fit_tattoo {
    display: flex;
    background: rgb(255, 255, 255);
    top: 0;
    left: 0;
    z-index: 9;
    position: fixed;
    width: 100%;
    height: auto;
    max-height: 800px;
    visibility: var(--fitTattooVisible);
}

.fit_tattoo img {
    margin: auto;
    width: auto;
    height: 100%;
  }

.fit_tattoo img.img_choose {
    position: absolute;
    top: 0;
}

.controls {

}

.controls button {
    color: #1b0404;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    background-size: contain;
}
.exit_fitting {
    background-image: url("./exit.png");
    top: 50px;
}
.download {
    background-image: url("./download.png");
    top: 100px;
}
.send_to_server {
    background-image: url("./send.png");
    top: 150px;
}