.tattoo_fitting_room {
	display: flex;
	background: rgb(255, 255, 255);
	top: 0;
	left: 0;
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: var(--fitTattooVisible);
}

.tattoo_fitting_room div.fit_tattoo_image {
	position: relative;
}

.tattoo_fitting_room img {
	max-width: 100%;
}

.tattoo_fitting_room img.tattoo_to_fit {
	top: 0;
	left: 50%;
	position: absolute;
	border: 2px solid #db6363;
}

.tattoo_fitting_room div.fit_tattoo_image .tattoo_to_fit{
	height: 80%;
	border: 2px solid #db6363;
	position: absolute;
}

.control_panel {
	position: absolute;
	right: 0;
}

.control_panel div {
	display: flex;
	margin-top: 50px;
	justify-content: flex-end;
}

.control_panel button {
	height: 50px;
	width: 50px;
	position: relative;
	background-size: contain;
	background-color: transparent;
}

.control_panel p.control_panel_banner {
	margin: 0 10px;
	visibility: var(--controlsBannerVis);
	color: #db6363;
	font-family: montserrat;
	text-transform: uppercase;
	font-size: 1em;
}

.exit_fitting {
	background-image: url("./exit.png");
}

.download {
	background-image: url("./download.png");
}

.send_to_server {
	background-image: url("./send.png");
}

.fitting_mess_push {
	position: absolute;
	z-index: 3;
	background-color: rgba(255, 255, 255, 0.9);
	color: #db6363;
	font-family: montserrat;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 3.7px;
	visibility: var(--fittingMessage);
	right: var(--fittingMesPos);
}

.fitting_mess_push::after {
	content: " »";

}

.img_send_mess {
	position: fixed;
	top: 50%;
	left: 20%;
	background-color: rgba(255, 255, 255, var(--statusBGAlfa));
	color: #db6363;
	font-family: montserrat;
	text-transform: uppercase;
	font-size: 3em;
	letter-spacing: 3.7px;
	visibility: var(--sendMessVis);
}

.shift_key_mess {
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 3;
	background-color: rgba(255, 255, 255, 0.9);
	color: #db6363;
	font-family: montserrat;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 3.7px;
	visibility: var(--shiftMessage);
}